@import "tailwindcss";

/* body {
  margin: 0;
  min-height: 100vh;
  background-image: url("/bg1.webp"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */


.wb-map path {
  fill: #e6e6e6;
  stroke: #ffffff;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
  transition: fill 0.6s ease, stroke 0.3s ease, stroke-width 0.3s ease;
}

.wb-map path:hover {
  opacity: 0.85;
  cursor: pointer;
}

svg path:hover {
  opacity: 0.85;
  cursor: pointer;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}