@import "tailwindcss";

/* body {
  margin: 0;
  min-height: 100vh;
  background-image: url("/bg1.webp"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */


/* Base */
svg path {
  transition: all 0.25s ease;
  transform-origin: center;
}

/* DESKTOP ONLY */
@media (hover: hover) and (pointer: fine) {
  svg path:hover {
    cursor: pointer;
    filter: brightness(1.30);
    stroke: #333;
    stroke-width: 1;
  }
}

/* ALL DEVICES */
svg path:active {
  transform: scale(0.98);
  opacity: 0.9;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}